body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, select {
  border: solid 1px #555;
  font-size: 1rem;
  padding: 0 1vh;
  background-color: #fff;
  flex: 1;
}

select {
  height: 5vh;
}

input:active, input:focus, select:active, select:focus {
  box-shadow: none !important;
  border: 1px solid #bf0d3e !important;
  outline: none !important;
}

select {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div::-webkit-scrollbar { width: 0 !important }

@font-face {
  font-family: 'Klavika-bold';
  src: url(fonts/klavika/klavika-bold.otf) format('otf');
}

@font-face {
  font-family: 'Klavika-bold-italic';
  src: url(fonts/klavika/klavika-bold-italic.otf) format('otf');
}

@font-face {
  font-family: 'Klavika-light';
  src: url(fonts/klavika/klavika-light.otf) format('otf');
}

@font-face {
  font-family: 'Klavika-light-italic';
  src: url(fonts/klavika/klavika-light-italic.otf) format('otf');
}

@font-face {
  font-family: 'Klavika-medium';
  src: url(fonts/klavika/klavika-medium.otf) format('otf');
}

@font-face {
  font-family: 'Klavika-medium-italic';
  src: url(fonts/klavika/klavika-medium-italic.otf) format('otf');
}

@font-face {
  font-family: 'Klavika-regular';
  src: url(fonts/klavika/klavika-regular.otf) format('otf');
}

@font-face {
  font-family: 'Klavika-regular-italic';
  src: url(fonts/klavika/klavika-regular-italic.otf) format('otf');
}